# pandas

In [1]:
import numpy as np
import pandas as pd

In [2]:
dict1 = {
    "name" : ['gaurav','rohan','skillf','shubh'],
    "marks" : [92,34,24,17],
    "city" : ['rampur','kolkata','bareli','antarctica']
}

In [3]:
df = pd.DataFrame(dict1)

In [4]:
df

     name  marks        city
0  gaurav     92      rampur
1   rohan     34     kolkata
2  skillf     24      bareli
3   shubh     17  antarctica

In [5]:
df.to_csv('data.csv')

In [15]:
df.to_csv('data_index_false.csv',index=False)

In [17]:
df.head(2)

     name  marks     city
0  gaurav     92   rampur
1   rohan     34  kolkata

In [8]:
df.tail(2)

     name  marks        city
2  skillf     24      bareli
3   shubh     17  antarctica

In [9]:
df.describe()

          marks
count   4.00000
mean   41.75000
std    34.21866
min    17.00000
25%    22.25000
50%    29.00000
75%    48.50000
max    92.00000

In [10]:
gaurav = pd.read_csv('gaurav.csv')

In [11]:
gaurav

   Train No2  Speed2       city2
0        123      50      rampur
1      34545      34     kolkata
2      34333      56      bareli
3       2323      43  antarctica

In [12]:
gaurav['Speed'][0] = 50

KeyError: 'Speed'

In [ ]:
gaurav['Speed']

In [ ]:
gaurav

In [ ]:
gaurav.to_csv('gaurav.csv')

In [19]:
gaurav.index = ['I','II','III','IV']

In [20]:
gaurav

     Train No2  Speed2       city2
I          123      50      rampur
II       34545      34     kolkata
III      34333      56      bareli
IV        2323      43  antarctica

In [ ]:
gaurav.Speed

In [ ]:
gaurav.describe()

In [ ]:
ser = pd.Series(np.random.rand(20))

In [ ]:
type(ser)

In [ ]:
newdf = pd.DataFrame(np.random.rand(334,5),index=np.arange(334))

In [ ]:
type(newdf)
newdf.head()

In [ ]:
newdf.describe()

In [ ]:
newdf.dtypes

In [ ]:
newdf[0][0] = "gaurav"

In [ ]:
newdf.dtypes

In [ ]:
newdf.head()

In [ ]:
newdf.index

In [ ]:
newdf.columns

In [ ]:
newdf.to_numpy()

In [ ]:
newdf[0][0] = 0.3

In [ ]:
newdf.head()

In [ ]:
newdf.T

In [ ]:
newdf.head()

In [ ]:
newdf.sort_index(axis=1, ascending=False).head()

In [ ]:
type(newdf['A'])

In [ ]:
newdf.head()

In [ ]:
newdf2 = newdf.copy()

In [ ]:
newdf2[0][0] = 345358

In [ ]:
newdf

In [ ]:
newdf.loc[0,0] = 654

In [ ]:
newdf.head(2)

In [ ]:
newdf.columns = list('ABCDE')

In [ ]:
newdf.head(2)

In [ ]:
newdf.loc[0,0] = 3445

In [ ]:
newdf

In [ ]:
newdf = newdf.drop(0,axis=1)

In [ ]:
newdf.head()

In [ ]:
newdf.loc[[1,2],['C','D']]

In [ ]:
newdf.head()

In [ ]:
newdf.loc[:,['C','D']]

In [ ]:
newdf.loc[[1,2],:]

In [ ]:
newdf.loc[(newdf['A']<0.3) & (newdf['C']>0.1)]

In [ ]:
newdf.head(2)

In [ ]:
newdf['E'][0]

In [ ]:
newdf.iloc[0,4]

In [ ]:
newdf.iloc[[0,1],[1,2]]

In [ ]:
newdf['A'][0] = 7756

In [ ]:
newdf.head()

In [ ]:
newdf.drop(['A','D'],axis=1,inplace=True)

In [ ]:
newdf

In [ ]:
newdf.drop([1,5],axis=0,inplace=True)

In [ ]:
newdf.head(3)

In [ ]:
newdf.reset_index(drop=True,inplace=True)

In [ ]:
newdf

In [ ]:
newdf.loc[:,['B']] = 56

In [ ]:
newdf

In [ ]:
newdf['B'].isnull()

In [ ]:
newdf

In [ ]:
newdf['C'] = 67

In [ ]:
newdf

In [ ]:
newdf.drop('c',axis=1,inplace=True)

In [ ]:
newdf

In [ ]:
df = pd.DataFrame({"name": ['Alfred', 'Batman', 'Alfred'],
                   "toy": [np.nan, 'Batmobile', 'Bullwhip'],
                   "born": [pd.NaT, pd.Timestamp("1940-04-25"),
                            pd.NaT]})

In [ ]:
df.head()

In [ ]:
df.dropna(how='all',axis=1)

In [ ]:
df.drop_duplicates(subset=['name'], keep=False)

In [ ]:
df.shape

In [ ]:
df.info()

In [ ]:
df['toy'].value_counts(dropna=False)

In [ ]:
df.notnull()

In [ ]:
df.isnull()

In [ ]:
data = pd.read_excel('data.xlsx',sheet_name='Sheet2')

In [ ]:
data

In [ ]:
data.iloc[0,0] = 34

In [ ]:
data

In [ ]:
data.to_excel('data.xlsx',sheet_name='Sheet2')